<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>서초구 코로나 백신 접종 관리</title>

    <!-- fontawesome -->
    <link rel="stylesheet" href="../../resources/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../resources/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <!-- date-range-picker -->
    <link rel="stylesheet" href="../../resources/plugins/daterangepicker/daterangepicker.css">
    <!-- Template style -->
    <link rel="stylesheet" href="../../resources/css/adminlte.css">
    <!-- Common style -->
    <link rel="stylesheet" href="../../resources/css/style.css">
    <!-- Additional style -->
    <link rel="stylesheet" href="../../resources/css/additional.css">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">


            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item ml-n3">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    Welcome <a href="#" data-toggle="dropdown">홍길동</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="../login/login.html" class="dropdown-item">
                            <i class="fas fa-sign-out-alt mr-2"></i> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="" class="brand-link">
                <span class="brand-image"><img src="../../resources/images/logo.svg" alt="서초구 Logo" class="img-circle"></span>
                <span class="brand-text font-weight-bold text-white">코로나 백신 접종 관리</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="../status/status.html" class="nav-link">
                                <i class="nav-icon fas fa-notes-medical"></i>
                                <p>
                                    접종현황
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../advance/advance.html" class="nav-link active">
                                <i class="nav-icon fas fa-user-md"></i>
                                <p>
                                    예진관리
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../monitoring/monitoring.html" class="nav-link">
                                <i class="nav-icon fas fa-procedures"></i>
                                <p>
                                    이상반응 모니터링
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../inoculator/inoculator.html" class="nav-link">
                                <i class="nav-icon fas fa-clipboard-list"></i>
                                <p>
                                    접종자명단
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    통계자료
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="../statistics/by_date.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>일자별</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../statistics/by_symptom.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>이상증상별</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../statistics/by_stock.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>백신재고별(누적)</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../statistics/by_place.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>접종장소별(누적)</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../statistics/by_age.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>연령별(누적)</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="../stock/stock.html" class="nav-link">
                                <i class="nav-icon fas fa-syringe"></i>
                                <p>
                                    백신관리
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../account/account.html" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    계정관리
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../organization/organization.html" class="nav-link">
                                <i class="nav-icon fas fa-building"></i>
                                <p>
                                    기관관리
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <h1 class="m-0 text-dark">예진관리</h1>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <label for="" class="col-auto col-form-label">성명</label>
                                <div class="col-auto">
                                    <input type="text" class="form-control" id="">
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-dark min-width">조회</button>
                                </div>
                                <label for="" class="col-auto col-form-label ml-4">접종일자</label>
                                <div class="col-auto">
                                    <div class="input-group" style="width:300px">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" class="form-control float-right" data-event="rangeDatepicker" id="date-range">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-dark min-width">조회</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">

                            <table class="table table-bordered table-hover" id="datatable">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            <input type="checkbox" id="checkAll" class="align-middle">
                                        </th>
                                        <th class="text-center">순번</th>
                                        <th class="text-center">접수일시</th>
                                        <th class="text-center">성명</th>
                                        <th class="text-center">생년월일</th>
                                        <th class="text-center">성별</th>
                                        <th class="text-center">전화번호</th>
                                        <th class="text-center">지역</th>
                                        <th class="text-center">주소</th>
                                        <th class="text-center">백신명</th>
                                        <th class="text-center">접종차수</th>
                                        <th class="text-center">접종이력</th>
                                        <th class="text-center">접종장소</th>
                                        <th class="text-center" colspan="2">예진내용</th>
                                        <th class="text-center">접종여부</th>
                                        <th class="text-center">저장</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <input type="checkbox" name="listCheck" class="align-middle" value="4190">
                                        </td>
                                        <td class="text-center">4190</td>
                                        <td class="text-center">2021-04-29 15:12</td>
<!--                                             <td class="text-center" th:text="${list.userNm}">김영희</td> -->
                                        <td class="text-center">
                                            <input type="text" id="userNm_4190" class="form-control form-control-lg" value="함영훈">
                                        </td>
<!--                                             <td class="text-center" th:text="${list.userBirth}">990101</td> -->
                                        <td class="text-center">
                                            <input type="text" id="userBirth_4190" class="form-control form-control-lg" data-event="singleDatepicker" value="1985-12-13" readonly="">
                                        </td>
<!--                                             <th:block th:if="${list.userGender == 'MALE'}"> -->
<!--                                                 <td class="text-center" th:text="남"></td> -->
<!--                                             </th:block> -->
<!--                                             <th:block th:if="${list.userGender == 'FEMALE'}"> -->
<!--                                                 <td class="text-center" th:text="여"></td> -->
<!--                                             </th:block> -->
                                        <td class="text-center" style="width:60px;">
                                            <select name="" id="userGender_4190" class="custom-select custom-select-sm">
                                                <option value="MALE" selected="selected">남</option>
                                                <option value="FEMALE">여</option>
                                            </select>
                                        </td>
<!--                                             <th:block th:if="${(list.userGender != 'FEMALE') && (list.userGender != 'MALE')}"> -->
<!--                                                 <td class="text-center" > - </td> -->
<!--                                             </th:block> -->
                                        <td class="text-center">
                                            <input type="text" id="userPhone_4190" class="form-control form-control-sm" value="01032068146">
                                        </td>
<!--                                             <td class="text-center" th:text="${list.userPhone}">010-0000-0000</td> -->

                                        <td class="text-center">타지역</td>
                                        <td class="text-center">
                                            <textarea type="text" id="userAddr_4190" class="form-control form-control-sm" rows="3">서울시 동작구 사당로16다길 57 제일아파트 2동 1003호</textarea>
                                        </td>
                                        <td class="text-center">
                                            <select name="" id="vaccineType_4190" class="custom-select custom-select-sm">
                                                <option value="PFIZER">화이자</option>
                                                <option value="MODERNA">모더나</option>
                                                <option value="AZ" selected="selected">아스트라제네카</option>
                                                <option value="JANSSEN">얀센</option>
                                                <option value="ETC">기타</option>
                                            </select>
                                        </td>

                                            <td class="text-center">1차</td>



                                            <td class="text-center"> - </td>


                                        <td class="text-center">

                                                <select name="" id="agency_4190" class="custom-select custom-select-sm">

                                                        <option value="ORG-0010">구립서초노인요양센터</option>

                                                        <option value="ORG-0011">함춘요양원</option>

                                                        <option value="ORG-0012">서초구보건소</option>

                                                        <option value="ORG-0013">장생시니어타운</option>

                                                        <option value="ORG-0014">성심노인복지센터</option>

                                                        <option value="12388432">서울성모비앤피(BNP)의원</option>

                                                        <option value="11335084">예루살렘정형외과의원</option>

                                                        <option value="12328073">연세곰돌이소아청소년과의원</option>

                                                        <option value="12347060">방배지에프내과</option>

                                                        <option value="12388556">이수내과의원</option>

                                                        <option value="12326526">현진해내과의원</option>

                                                        <option value="12366510">아나파신경과의원</option>

                                                        <option value="12330981">열린연세이비인후과의원</option>

                                                        <option value="11394064">강남연세재활의학과의원</option>

                                                        <option value="11100338" selected="selected">학교법인가톨릭학원가톨릭대학교서울성모병원</option>

                                                        <option value="12300608 ">가나이비인후과의원</option>

                                                        <option value="12345679 ">가야성모의원</option>

                                                        <option value="12312452 ">강남한양재활의원</option>

                                                        <option value="12344273 ">김기찬내과</option>

                                                        <option value="12335339 ">김동균소아청소년과의원</option>

                                                        <option value="11372630 ">김성완이비인후과의원 </option>

                                                        <option value="11324970 ">김일중내과의원 </option>

                                                        <option value="11337711 ">김화내과의원 </option>

                                                        <option value="12363235 ">나경선내과의원 </option>

                                                        <option value="11346248 ">노소아청소년과의원 </option>

                                                        <option value="11385766 ">늘푸른이비인후과의원 </option>

                                                        <option value="12346560 ">다나가정의학과의원 </option>

                                                        <option value="12392197 ">독일의원 </option>

                                                        <option value="12351211 ">디디소아청소년과의원 </option>

                                                        <option value="11361239 ">라임이비인후과의원 </option>

                                                        <option value="12311588 ">명성내과의원 </option>

                                                        <option value="12380300 ">모인호내과의원 </option>

                                                        <option value="12377503 ">바른이비인후과의원 </option>

                                                        <option value="12367818 ">반포예원이비인후과의원 </option>

                                                        <option value="12374938 ">반포키즈소아청소년과의원 </option>

                                                        <option value="12310395 ">방배우리내과의원 </option>

                                                        <option value="11384026 ">본산부인과의원 </option>

                                                        <option value="12323942 ">봄내과의원 </option>

                                                        <option value="11358912 ">사단법인 정해복지부설 한신메디피아의원 </option>

                                                        <option value="12337749 ">삼성한내과의원 </option>

                                                        <option value="12311219">서울내과의원 </option>

                                                        <option value="12390020 ">서울유가정의학과의원 </option>

                                                        <option value="12345822 ">서울자이소아청소년과의원 </option>

                                                        <option value="12394441">서울티에프이비인후과의원</option>

                                                        <option value="12387088">서이드림내과의원</option>

                                                        <option value="12339784">서초서울삼성내과의원</option>

                                                        <option value="12385727">서초성모이비인후과의원</option>

                                                        <option value="12300934">서초아가페의원</option>

                                                        <option value="12364991">서초아이소아청소년과의원</option>

                                                        <option value="12376736">서초코나이비인후과의원</option>

                                                        <option value="12370461">성모내과의원</option>

                                                        <option value="11359927">성모소아청소년과의원</option>

                                                        <option value="12331511">성모신사랑내과의원</option>

                                                        <option value="12368318">센트럴시티의원</option>

                                                        <option value="11382988">수이비인후과의원</option>

                                                        <option value="11366991">신민호이비인후과의원</option>

                                                        <option value="12371572">아이숲소아청소년과의원</option>

                                                        <option value="12341223">아이투비산부인과의원</option>

                                                        <option value="12371530">양내과의원</option>

                                                        <option value="11397691">연세가정의학과의원</option>

                                                        <option value="12336726">연세강내과의원</option>

                                                        <option value="12369152">연세박세진의원</option>

                                                        <option value="12370690">연세봄이비인후과의원</option>

                                                        <option value="11395486">연세서내과의원</option>

                                                        <option value="12392995">연세위드이비인후과의원</option>

                                                        <option value="12390313">연세해맑은소아청소년과의원</option>

                                                        <option value="12387479">연세휴가정의학과의원</option>

                                                        <option value="12337242">연이비인후과의원</option>

                                                        <option value="12341606">열린성모이비인후과의원</option>

                                                        <option value="12386464">올바른의원</option>

                                                        <option value="11203579">의료법인 청해의료재단 제일병원</option>

                                                        <option value="11375019">이경상내과의원</option>

                                                        <option value="12301523">이내과의원</option>

                                                        <option value="11371111">이성윤의원</option>

                                                        <option value="11366079">이진오소아과의원</option>

                                                        <option value="12381578">이형빈가정의학과의원</option>

                                                        <option value="12363782">이혜진소아청소년과의원</option>

                                                        <option value="12330281">정가정의원</option>

                                                        <option value="11337869">정내과의원</option>

                                                        <option value="11384204">조은의원</option>

                                                        <option value="12302244">지에프소아청소년과의원</option>

                                                        <option value="12394378">청계내과의원</option>

                                                        <option value="11330236">최재득내과의원</option>

                                                        <option value="12375641">카모마일의원</option>

                                                        <option value="12346276">케이내과의원</option>

                                                        <option value="12374113">튼튼소아청소년과의원</option>

                                                        <option value="12305057">한일의원</option>

                                                        <option value="12335819">허기훈내과의원</option>

                                                        <option value="11377615">헤론연세의원</option>

                                                        <option value="ORG-01">다니엘복지원</option>

                                                        <option value="ORG-02">다니엘단기보호센터</option>

                                                        <option value="ORG-03">다니엘사랑이용센터</option>

                                                        <option value="ORG-04">다니엘주간보호센터</option>

                                                        <option value="ORG-05">서리풀주간이용센터</option>

                                                        <option value="ORG-06">서초구립주간이용센터</option>

                                                        <option value="ORG-07">새빛바울의집</option>

                                                        <option value="ORG-08">신망애의집</option>

                                                        <option value="ORG-09">바우뫼주간보호센터</option>

                                                </select>


                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:;" id="sContent_4190" class="text-underline text-truncate d-inline-block align-middle" style="max-width:90px" onclick="Advance.showAdvanceTextView('4190')"></a>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-advance" onclick="Advance.showAdvanceView('4190')">입력</button>
                                        </td>
                                        <td class="text-center" style="width:100px">
                                            <select name="" id="vaccineSt_4190" class="custom-select custom-select-sm">
                                                <option value="STAND_BY" selected="selected">접종대기</option>
                                                <option value="REJECT">미접종</option>
                                                <option value="COMPLETE">접종</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-sm btn-success" onclick="Advance.updateAdvance('4190')">수정</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <!-- modal : 접종이력 상세 -->
    <div class="modal" tabindex="-1" id="modal-history">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">접종이력 상세</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>접종일</b> : 2021-03-30</li>
                        <li class="list-group-item"><b>접종백신</b> : 모더나</li>
                        <li class="list-group-item"><b>접종장소</b> : 보건소</li>
                        <li class="list-group-item"><b>예진 특이사항</b> : 당뇨환자</li>
                        <li class="list-group-item"><b>이상증상</b> : 오한</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- modal : 예진내용 상세/입력 -->
    <div class="modal" tabindex="-1" id="modal-advance">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">예진내용</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>(질환, 복용약,예진자 의견 등)</p>
                    <textarea name="" id="" cols="" rows="6" class="form-control">당뇨환자이며 xx약을 복용중</textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">저장</button>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-btn card mb-0">
        <div class="row row-point5rem justify-content-center mb-3">
            <div class="col-auto">
                <button type="button" class="btn btn-secondary">추가</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary">삭제</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary">엑셀저장</button>
            </div>
        </div>
    </div>

    <!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    <script src="../../resources/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../resources/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="../../resources/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../../resources/plugins/datatables/js/dataTables.bootstrap4.js"></script>
    <!-- moment -->
    <script src="../../resources/plugins/moment/moment.min.js"></script>
    <!-- date-range-picker -->
    <script src="../../resources/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- AdminLTE App -->
    <script src="../../resources/js/adminlte.min.js"></script>
    <!-- ui -->
    <script src="../../resources/js/ui.js"></script>

    <script>
        $(document).ready(function(){
            /* $('#datatable').DataTable({
                "searching": false,
            }); */

            $('#modal-advance').on('show.bs.modal', function (event) {
                var t = event.relatedTarget;
                $(t).closest('tr').addClass('focus');
            });
            $('#modal-advance').on('hidden.bs.modal', function (event) {
                $('tr').removeClass('focus');
            });
        });
    </script>
</body>

</html>
